* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #020617, #000 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.login-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(0,0,0,0.7);
    border: 1px solid rgba(56,189,248,0.3);
    padding: 40px 35px;
    border-radius: 22px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
    text-align: center;
}

.login-box h2 {
    font-size: 28px;
    color: #38bdf8;
}

.login-box p {
    font-size: 14px;
    color: #cbd5f5;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 16px;
}

.input-group label {
    font-size: 13px;
    color: #cbd5f5;
}

.input-group input {
    width: 100%;
    margin-top: 6px;
    padding: 11px 14px;
    border-radius: 12px;
    background: #020617;
    border: 1px solid rgba(56,189,248,0.25);
    color: #fff;
    outline: none;
}

.input-group input:focus {
    border-color: #38bdf8;
}

.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 12px;
    top: 38px;
    cursor: pointer;
}

.btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #38bdf8;
    background: transparent;
    color: #38bdf8;
    cursor: pointer;
}

.btn:hover {
    background: #38bdf8;
    color: #000;
}

.signup-link {
    margin-top: 15px;
    font-size: 13px;
}

.signup-link a {
    color: #38bdf8;
}
